@page ""
@model ProtectedDiary.Pages.DiaryModel

@{
    ViewData["Title"] = $"{@Model.Diary.Title} | {@Model.Author.ScreenName}";
    var tweetUrl = $"https://twitter.com/intent/tweet?text={@Model.Diary.Title}&url=https://{this.Request.Host}{Url.Page("./Diary", new { userId = Model.Diary.UserId, id = Model.Diary.Id })}";
}

<h1 class="diary-title">@Html.DisplayFor(model => model.Diary.Title)</h1>

<section class="diary-info">
    <div class="author">
        <a asp-page="UserDiaries" asp-route-userId="@Model.Diary.UserId">
            <img class="icon image--xs" src="@Html.DisplayFor(model => model.Author.IconUrl)" alt="icon">
        </a>
        <div class="author-detail">
            <a asp-page="UserDiaries" asp-route-userId="@Model.Diary.UserId"
                    class="author-name">@Html.DisplayFor(model =>
                                    model.Author.ScreenName)</a>
            <time class="diary-createdAt" datetime="@Html.DisplayFor(model => model.Diary.CreatedAt)">
                @Html.DisplayFor(model => model.Diary.CreatedAt)
            </time>
        </div>
    </div>
    @if (Model.Author.Id == this.User.Claims.UserId())
    {
        <div>
            <a class="button" asp-page="/Diaries/Edit" asp-route-id="@Model.Diary.Id">編集</a>
        </div>
    }
</section>

<section class="diary-content">@Html.Raw(Model.Diary.Content)</section>

<section class="diary-footer">
    <a class="twitter-share-button" href="@tweetUrl" target="_brank" rel="noopener">
        <img src="~/content/Twitter_Logo_Blue.png" alt="twitter_share_button" width="45" height="45">
    </a>
</section>