@page
@model ProtectedDiary.Pages.UserDiariesModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@{
  ViewData["Title"] = $"日記一覧 | {@Model.Author.ScreenName}";
}

@functions{
  public string GetAntiXsrfRequestToken()
  {
    return Xsrf.GetAndStoreTokens(HttpContext).RequestToken;
  }
}


<div class="profile">
  <img class="icon image--sm" src="@Html.DisplayFor(model => model.Author.IconUrl)" alt="icon">
  <span class="profile-name">
    @Html.DisplayFor(model => model.Author.ScreenName)
  </span>
  <a href="https://twitter.com/@(Model.Author.ScreenName)" class="profile-social" target="_brank" rel="noopener">
    <img src="~/content/twitter_social_icon.png" alt="twitter_social_icon" width="40" height="40">
  </a>
</div>

<div class="diaries-area">
  <ul role="list" class="diaries-body">
    @foreach (var diary in Model.Diaries)
    {
      <li>
        <div class="diaryList-item">
          <a class="diaryList-link" asp-page="/Diary" asp-route-userId="@diary.UserId" asp-route-id="@diary.Id"></a>
          <div class="diaryList-body">
            <div class="diaryList-header">@Html.DisplayFor(modelItem =>
            diary.Title)</div>
            <div class="diaryList-date">投稿時間: @Html.DisplayFor(modelItem =>
            diary.CreatedAt)</div>
          </div>
          @if (Model.Author.Id == this.User.Claims.UserId())
          {
            <div class="diaryList-edit">
              <a class="button" asp-page="/Diaries/Edit" asp-route-id="@diary.Id">編集</a>
            </div>

            <div class="diaryList-delete">
              <delete-button diary-title="@diary.Title" diary-id="@diary.Id">
              </delete-button>
            </div>

            <sub-menu tag-name="i" class-name="material-icons ellipsis" allow-type="allow-right">
              <template v-slot:header>more_horiz</template>
              <template v-slot:main>
                <menu-item>
                  <a asp-page="/Diaries/Edit" asp-route-id="@diary.Id">編集</a>
                </menu-item>
                <menu-item>
                  <delete-button class-name="submit-button" diary-title="@diary.Title" diary-id="@diary.Id">
                  </delete-button>
                </menu-item>
              </template>
            </sub-menu>
          }
      </li>
    }
  </ul>
</div>

@{
  var prevDisabled = !Model.Diaries.HasPreviousPage ? "disabled" : "";
  var nextDisabled = !Model.Diaries.HasNextPage ? "disabled" : "";
}

<div class="pagination-block">
  <a asp-page="/UserDiaries" class="button @prevDisabled" asp-route-userId="@Model.Author.Id"
    asp-route-pageIndex="@(Model.Diaries.PageIndex - 1)">前ページ</a>
  <a asp-page="/UserDiaries" class="button @nextDisabled" asp-route-userId="@Model.Author.Id"
    asp-route-pageIndex="@(Model.Diaries.PageIndex + 1)">次ページ</a>
</div>


<diary-delete-modal></diary-delete-modal>